
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html{
	width:100vw;
	height:100vh;
	overflow:auto;
}
/* -----------Body is positioned relatively because of the menu bar and submit confirmation------ */
body{
	width:100%;
	height:100%;
	color:#fff;
	font-family: 'Century Gothic','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
	background-image: url('../images/bricademia-background.png');
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

#overlay{
	display:none;
	width:100vw;
	height:100vh;
	background:radial-gradient(rgba(0,0,0,0.9), #151B38);
	z-index:2;
	position:absolute;
}
#loader-wrapper{
	position:absolute;
	display:none;
	width:200px;
	height:200px;
	top:50%;
	left:50%;
	text-align:center;
	transform:translate(-50%, -50%);
	z-index:3;
}
.loader{
	font-size:100px;
	animation: loading-effect 1.0s infinite;
	color:white;
}

@keyframes loading-effect{
	0%{
		opacity:1.0;
	}
	25%{
		opacity:0.7;
	}
	50%{
		opacity:0.5;
	}
	75%{
		opacity:0.2;
	}
	100%{
		opacity:0.0;
	}
}
/* ---------------------Peripheral parts of the app------------------------------ */
#menu-bar{
	display:none;
	font-size: 0.9rem;
	padding-top:20px;
	background-color: #151B38;
	height:60%;
	width:40%;
	position:absolute;
	left:2px;
	top:2px;
	color: white;
	box-shadow: 1px 1px 2px #000;
	font-family: 'Courier New', Courier, monospace;
	z-index:1;
}
#menu-bar p{
	text-align: center;
	cursor:pointer;
	margin:8px 0;
}
#menu-bar p:hover{
	background-color: #F6A600;
}
li{
	margin:10px 0;
}
.social{
	font-weight: bolder;
	margin-right:6px;
}
.about-developer{
	margin-left:6px;
}
.dev-contact{
	font-weight: lighter;
}
#main-container{
	background-color:#fff;
	display:none;
	flex-direction:column;
	width:100%;
	height:100%;
	position:relative;
}
/* -----------Performance Chart-------------- */
#chart-outer-wrapper{
	background-color:aliceblue;
	position:absolute;
	z-index:4;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	display:none;
	justify-content:center;
	align-items:center;
	width:95%;
	margin:0 auto;
	height:250px;
}
#chart-inner-wrapper{
	display:flex;
	flex-direction:column;
	width:100%;
	margin:0 auto;
	height:90%;
	justify-content:center;
	align-items:center;
}
#chart{
	display:flex;
	margin:0 auto;
	width:95%;
	height:100px;
	justify-content:space-between;
}
#barchart-wrapper{
	display:flex;
	width:62%;
	height:30px;
	font-weight:bold;
}
#correct{
	background-color:green;
}
#incorrect{
	background-color:red;
}
.bar{
	height:100%;
	text-align:center;
}
#legend-wrapper{
	width:28%;
	font-size:0.7rem;
	color:navy;
}
#legend-wrapper p{
	font-size:0.6rem;
	font-weight:bold;
}
#incorrect-wrapper{
	margin-top:10px;
}
#result-info{
	font-size:0.8rem;
	text-align:center;
	color:navy;
	font-weight:bold;
}
.correct-symbol{
	color:green;
	font-size:1.3rem;
}
.incorrect-symbol{
	color:red;
	font-size:1.3rem;
}
#retake-wrapper{
	margin-top:20px;
}
/* -------------------------------------------------------------------------------------------------------------------- */
/* ----------------------Header Section------------------------------------------- */
header{
	display:flex;
	align-items: center;
	width:100%;
	height:45px;
	padding: 0 7px;
	background-color:#151B38;
	
}
.menu-wrapper{							/* ----------- ctn or cont means container------- */
	display:flex;
	flex-direction:row-reverse;
	align-items:flex-end;
	height:80%;
	width:40%;
}
#open-menu{
	cursor:pointer;
	font-size:1.4rem;
}

#open-menu:hover{
	color: #F6A600;
}
.nav-menu{
	display:none;
	margin-left:5px;
	color: #F6A600;
	cursor: pointer;
	font-size: 0.8rem;
}
.nav-menu:hover{
	border:none;
	outline:none;
	color: #fff;
}
.ctn-logotext{
	display:flex;
	height:80%;
	width:60%;
	font-size:1.1rem;
	align-items:flex-end;
	justify-content: flex-start;
	letter-spacing: 2px;
}
.first-image{
	height:30px;
	width:30px;
	border-radius:50%;
}
/* -----------------------------------Body of the App------------------------------------- */
main{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100%;
	width:100%;
	color:#151B38;
	position:relative;
	overflow-y:auto;
}
#results{
	display:none;
	width:95%;
	height:50%;
	margin:0 auto;
	background-color: #151B38;
	/* background-color:#151B38; */
	color:white;
	overflow:auto;
	padding:5px;
	position:absolute;
	top:50px;
	right:10px;
	z-index:3;
	box-shadow: 1px 1px 2px white, -1px -1px 2px white;
}
.no-result-text{
	text-align:center;
	font-style:italic;
	font-size:0.8rem;
	color:yellow;
}
#close-result-wrapper{
	text-align:right;
}
.close-result{
	
	font-size:1.5rem;
	color:red;
	cursor:pointer;
	border-radius:10px;
	padding:3px;
}
.close-result:hover{
	color: #fff;
}
#result-table{
	width:100%;
}
#table-header{
	text-align:left;
	font-size:0.8rem;
}
#result-table th{
	padding:5px;
}
.table-row{
	text-align:left;
	font-size:0.6rem;
	padding:3px;
}
.table-row:nth-child(even){
	background-color:lightgray;
	color:#151B38;;
}
#clear-log{
	text-align:center;
	margin:30px 0;
}
#clear-log button{
	background-color:maroon;
	color:white;
	font-size:0.9rem;
	padding:4px;
	cursor:pointer;
	border:none;
	outline:none;
	border-radius:3px;
	padding:10px;
}
#clear-log button:hover{
	color:maroon;
	background-color:white;
}
#cont-timer{
	display:flex;
	align-items:center;
	justify-content:center;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	margin-top:8px;
	margin-bottom:4px;
	height:35px;
	border-radius:5px;
	box-shadow:1px 1px 2px gray, -1px -1px 2px gray;
	visibility: visible;	
}
.portal-body-outer-container{
	overflow-y:auto;
	height:100%;
	width:95%;
	box-shadow:1px 1px 2px gray, -1px -1px 2px gray;
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#F5F5F5;
}
.cont-portal-body{
	height:80%;
	display:flex;
	font-size: 0.8rem;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	width:100%;
	
	margin: 4px auto;
	padding-left: 10px;
	padding-top:10%;
	overflow-y:auto;
}
.portal-inner-wrapper{
	
}
#subject-option{
	text-align: center;
	width:100%;
}
#choose-subject{
	color:#fff;
	border-radius:7px;
	background-color:#151B38;
	font-size:1.0rem;
	font-weight:bolder;
	padding:15px;
	cursor:pointer;
	width:90%;
	margin:0 auto;
}
.arrow{
	font-size:1.0rem;
	font-weight:bolder;
	margin-left:8px;
}
#subject li{
	background-color:#151B38;
	color:#fff;
	margin-bottom:12px;
	padding:12px;
	border-radius:7px;
	text-align:center;
	list-style:none;
	cursor:pointer;
}
/* -----------styles added to sublists of subjects------*/
.sublist{
	background-color:#151B38;
	color:#fff;
	margin-bottom:12px;
	width:80%;
	margin:20px auto;
	padding:12px;
	border-radius:7px;
	text-align:center;
	list-style:none;
	cursor:pointer;
}
.sublist:hover{
	background-color:#F6A600;
}
/* styles added to sublists of subjects */
#subject{
	display:none;
	width:80%;
	margin:0 auto;
}
#subject li:hover{
	background-color:#F6A600;
}
@keyframes slide{
	0%{
		transform:translate(0px,0px);
	}
	50%{
		transform:translate(2%,0%);
	}
}
input{
	margin-right: 20px;
}
.subject-title{
	font-size: 0.8rem;
	letter-spacing: 2px;
	color:#F6A600;
	width:60%;
	margin-right:10%;
}
.timer{
	font-size: 0.9rem;
	width:20%;
	text-align:right;
}
.btn-action{							/* -------btn means button--- */
	background-color:#151B38;
	color:#fff;
	font-size:1.5rem;
	font-family:"Hobo Std",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding:4px;
	border-radius:5px;
	outline:none;
	border:none;
}
.end{				/* -------This signifies the closeness of the allocated time to completion--- */	
	color:red;
}
#start{
	margin-top: 10%;
	transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
	display: none;
}
#start:hover{
	background-color: #DCDCDC;
	color:#151B38;
}

#error{
	font-style:italic;
	color:red;
	text-align:center;
	display:none;
	font-size: 0.7rem;
}
nav{
	display: flex;
	align-items: center;
	justify-content: center;
	height:50px;
	width:95%;
	border-radius:5px;
	margin:4px 0;
	box-shadow:1px 1px 2px gray, -1px -1px 2px gray;
	visibility: hidden;
}
.btn-nav{
	border:none;
	border-radius:2px;
	outline:none;
	background-color: #DCDCDC;
	cursor: pointer;
	box-shadow:1px 1px 2px gray, -1px -1px 2px gray;
}
#prev{
	margin-right:5px;
	padding: 5px;
	padding-left:10px;
}
#next{
	margin-left:5px;
	padding:5px;
	padding-right:10px;
}
.nav-class{
	font-size: 1.2rem;
	font-family: "Hobo Std",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
}
/* --------------Submit button-------------- */
#send{
	background-color:green;
	margin-bottom:0px;
	height:90%;
	transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
	margin-left:6px;
	display: none;
}
#send:active{
	background-color: #DCDCDC;
	color:green;
}
/* ------------------Submit confirmation-------------------- */
#confirmation{
	position:absolute;
	top:50%;
	width: 90%;
	margin:0 auto;
	left:50%;
	transform:translate(-50%, -50%);
	height:300px;
	flex-direction:column;
	background-color:white;
	border: groove 2px navy;
	border-radius:8px;
	padding:0px 5px;
	font-size:0.9rem;
	align-items:center;
	justify-content:center;
	display:none;
	color:#151B38;
	z-index:2;
}
#confirmation p{
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}
.btn-confirm{
	color:#fff;
	font-size:1.1rem;
	font-family:'Hobo Std','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding:6px;
	border-radius:5px;
	outline:none;
	border:none;
	transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
}
.btn-confirm:focus{
	border:2px dotted white;
}
#ok{
	background-color:green;
	margin-right:12px;
}
#ok:hover{
	background-color: #DCDCDC;
	color:green;
}
#cancel{
	background-color:maroon;
}
#cancel:hover{
	background-color: #DCDCDC;
	color:maroon;
}
/* -------------------About the Developer------------------------- */
footer{
	background-color:#151B38;
	height:80px;
	font-weight:lighter;
	color: #F6A600;
	display:flex;
	justify-content:center;
	align-items:center;
}
#footer-info{
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size:0.7rem;
	letter-spacing: 0.7px;
	padding:15px 0;
}
#footer-info p{
	margin-bottom:2px;
}
.foot-nav{
	color:#fff;
	/* font-size:0.8rem; */
	margin-right: 8px;
	cursor:pointer;
	border-radius:3px;
	padding:0px 3px;
	background-color:#151B54;
	box-shadow:1px 1px 1px gray, -1px -1px 1px gray;
}
.foot-nav:hover{
	color: #F6A600;
}
#footer-remark-wrapper{
	color:white;
}
#footer-nav-wrapper{
	margin-top:5px;
}
#copyright-wrapper{
	margin:7px 0;
}

/* ------------------------------- Media Queries ------------------------------ */

/* --------- For Desktops, Laptops and other larger screens -------- */
@media screen and (min-width: 767px){
	html{
		font-size: 20px;
	}
	
	#start{
		padding:10px 20px;
	}
	nav{
		justify-content: flex-start;
		padding-left: 30px;	
	}
	
	#ok{
		margin-right:20px;
	}
	.btn-confirm{
		padding:10px;
	}
	#open-menu{
		display: none;
	}
	.nav-menu{
		display:initial;
		font-size:0.65rem;
	}
	.cont-portal-body{
		padding-left:20px;
	}
	#main-container{
		max-width:1150px;
		margin-left: auto;
		margin-right:auto;
		box-shadow:2px 2px 4px white, -2px -2px 4px white;
	}
	#confirmation{
		width:50%;
	}
	#footer-info{
		
		font-size:0.6rem;
	}
}

/* ----- Containerize the display to the center at widths above my computer screen. */
/* ------- This is because the display is fine at full width on my screen ------ */

/* --------- For Ipads and Tablets -------- */
@media screen and (max-width:766px) and (min-width:480px){
	html{
		font-size: 17px;
	}
}
